*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(21, 255, 0), rgb(5, 142, 184));
    color: black;
}

.patients{
    background-color: antiquewhite;
    color: black;
    width: fit-content;
    margin: 10px 50px;
    border: 1px solid black;
    padding: 10px 40px;
}

a{
    color: blue;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box{
    border: 2px solid black;
    width: fit-content;
    padding: 25px 35px;
    background-color: beige;
}

.new_user{
    width: fit-content;
    margin: auto;
    margin-top: 40px; 
}

.box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


td{
    padding: 5px;
}


.info{
    display: none;
}

.white_text{
    color: white;
}