body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    background-color: rgb(8, 88, 88);
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
}

h1{
    font-size: 80px;
}

.options{
    display: flex;
    justify-content: center;

}