{% load static %}
<html>
    <head>
        <title>Appointment Doctors</title>
        <link rel="stylesheet" href="{% static 'doctors.css' %}">
    </head>

    <body>
        <h3 class="path"><a href="/">home</a>/doctors</h3>

        {% for doctor_object, patients_list in master_list %}

        <div class="doctor">
            <h2>{{ doctor_object.firstname }} {{ doctor_object.lastname }}</h2>
            <ul>
                {% for patient in patients_list %}
                    <li>{{ patient.name }}</li>
                {% endfor %}
            </ul>
        </div>

        {% endfor %}

    </body>
</html>
