{% load static %}
<html>
    <head>
        <title>Appointment Doctors</title>
        <link rel="stylesheet" href="{% static 'doctors.css' %}">
    </head>

    <body>
        <h3 class="path"><a href="/">home</a>/doctors</h3>

      
            <div class="center" style="display:{{login_display}};">
                <div class="box">
                    <form method="POST" >
                        {% csrf_token %}

                        <table>
                            <tr>
                                <td><label for="username">Username:</label></td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td><label for="password">Password:</label></td>
                                <td><input type="text" name="password"></td>
                            </tr>
                        </table>
                        <button type="submit"> Login </button>
                    </form>
                    {{error_msg}}
                </div>
                
                <div class="new_user">
                    <a href="signup">new user? Signup instead</a>
                </div>
            </div>
            
     

            
            <div class="info" style="display:{{patient_display}};">

                <h2>Welcome Dr.{{doctor_qs.firstname}} {{doctor_qs.lastname}}</h2>
                <ol class="patients">
                {% for patient in patient_list %}
                    <li>{{patient.name}}</li>
                {% endfor %}
                {{msg}}
                </ol>

            </div>            


        <!-- <div class="info" style="display:{{patient_display}};">
            {% for doctor_object, patients_list in master_list %}
            <div class="doctor">
                <h2>{{ doctor_object.firstname }} {{ doctor_object.lastname }}</h2>
                <ol>
                    {% for patient in patients_list %}
                        <li>{{ patient.name }}</li>
                    {% endfor %}
                </ol>
            </div>
            {% endfor %}
        </div> -->

    </body>
</html>
