<html>
    <head>
        <title>Appointment Patients </title>
    </head>

    <body>
        <h3><a href="/">home</a>/patients</h3>

        <h3>Select your Doctor</h3>

        <form method="POST">
            {% csrf_token %}
            <select name="selected" size="3">
                {% for x in Doctors %}
                    <option value="{{x.id}}">{{x.firstname}} {{x.lastname}} </option>
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="text" placeholder="Enter your Name" name="patient_name">
            <br>
            <br>
            <input type="submit">

        </form>


        

    </body>
</html>