<html>
    <head>

    </head>

    <body>
        <div class="singup">
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="fname">First name: </label></td>
                        <td><input type="text"></td>
                    </tr>
            
            
                    <tr>
                        <td><label for="fname">Last name: </label></td>
                        <td><input type="text"></td>
                    </tr>
            
                    <tr>
                        <td><label for="fname"> Username: </label></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="fname">Password: </label></td>
                        <td><input type="text"></td>
                    </tr>
                </table>
                <button type="submit"> Register </button>
            </form>
        </div>
    </body>
</html>