{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'doctors.css' %}">
    </head>

    <body>
        <h3 class="path">
            <a href="/">home</a>
            <a href="/doctors">/doctors</a>
            /signup
        </h3>


        <div class="center">
            <form method="POST">
                {% csrf_token %}
                <div class="box">
                    <table>
                        <tr>
                            <td><label for="fname">First name*: </label></td>
                            <td><input type="text" name="fname" required></td>
                        </tr>
                        <tr>
                            <td><label for="fname">Last name: </label></td>
                            <td><input type="text" name="lname"></td>
                        </tr>
                        <tr>
                            <td><label for="fname"> Username*: </label></td>
                            <td><input type="text" name="username" required></td>
                        </tr>
                        <tr>
                            <td><label for="fname">Password*: </label></td>
                            <td><input type="password" name="password" required></td>
                        </tr>
                    </table>
                </div>

                <div class="space-between">
                    <a href="/doctors">
                        <div class="btn">back</div>
                    </a>
                    <button type="submit" class="btn"> Register </button>
                </div>
            </form>
            {{error_msg}}
        </div>
    </body>
</html>