{% load static %}
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'doctors.css' %}">
    </head>

    <body>
        <h3 class="path">
            <a href="/">home</a>
            <a href="/doctors">/doctors</a>
            /signup
        </h3>


        <div class="center box">
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="fname">First name*: </label></td>
                        <td><input type="text" name="fname" required></td>
                    </tr>
            
            
                    <tr>
                        <td><label for="fname">Last name: </label></td>
                        <td><input type="text" name="lname"></td>
                    </tr>
            
                    <tr>
                        <td><label for="fname"> Username*: </label></td>
                        <td><input type="text" name="username" required></td>
                    </tr>
                    <tr>
                        <td><label for="fname">Password*: </label></td>
                        <td><input type="text" name="password" required></td>
                    </tr>
                </table>
                <button type="submit" class="btn"> Register </button>
            </form>
            {{error_msg}}
        </div>
    </body>
</html>