{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <title>Success</title>
        <link rel="stylesheet" href="{% static 'patients.css' %}">
    </head>

    <body>
        <h3 class="path"><a href="/">home</a>/<a href="/patients">patients</a></h3>

        <div class="center_box">
            <h1>Success!!</h1>
            <p>Your Appointment has been booked!</p>
            <p>token number: {{token_no}}</p>
        </div>

    </body>
</html>